<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <menuitem id="menu_shopify_root" name="Shopify Integration" sequence="10" groups="base.group_user"/>

  <menuitem id="menu_shopify_config"
            name="Configurations"
            parent="menu_shopify_root"
            action="shopify_integration.action_shopify_config"
            sequence="10"/>

  <menuitem id="menu_shopify_logs"
            name="Sync Logs"
            parent="menu_shopify_root"
            action="shopify_integration.action_shopify_sync_log"
            sequence="20"/>

  <menuitem id="menu_shopify_manual_sync"
            name="Manual Sync"
            parent="menu_shopify_root"
            action="shopify_integration.action_shopify_manual_sync_wizard"
            sequence="30"/>
</odoo>